@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

* {
    scroll-behavior: smooth;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    }

body {
    background-color: rgb(158, 155, 155);
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
/* navigation */
header {
    background-color: black;
    position: sticky;
    top: 0px;
    z-index: 1;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    flex: 1;
    text-align: right;
}

.navigation ul li {
    padding: 10px;
    display: inline-block;
    position: relative;
}

nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: gray;
}
/* fix later */
/* banner */
div.banner {
    background-color: whitesmoke;
    height: 500px;
}
  
/*viewport width*/
#banner .content h1 {
    color: white;
    position: relative;
    top: 50px;
    width: 400px;
    margin: 0 auto;
    font-size: 6vw;
  }

#banner .content p {
    position: relative;
    top: 50px;
    width: 400px;
    margin: 0 auto; 
    font-size: 20px;
    margin: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}

#banner .content a {
    color: white;
    text-decoration: none;
}

#banner {
    position: relative;
    background-size: cover;
    height: 800px;
    width: 100%;
    margin: 0;
    background-image: url(/assets/img/IMG_0105.JPG);
  }

  /* temporary image url */

.row {
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
}

/* about me */

.about-col {
    flex-basis: 49%;
    background: rgba(211,211,211,0.7);
    margin-bottom: 5%;
    padding: 20px 12px;
}

img.profile {
    height: auto;
    width: 100%;

}

div.about-col h1 {
    text-align: center;
    font-size: 100px;
}

div.about-col p {
    width: 100%;
    max-width: 400px;
    font-size: 25px;
    position: relative;
    left: 25%;
    text-indent: 1em;
    line-height: 1.5;
}

a.linkedin-about {
    color: black;
    position: absolute;
    left: -40px;
    bottom: -100px;
    font-size: 60px;
}

a.linkedin-about:hover {
    color: white;
}

a.github-about {
    color: black;
    position: absolute;
    left: 30px;
    bottom: -100px;
    font-size: 60px;
}

a.github-about:hover {
    color: white;
}

nav .fa-solid {
    display: none;
}

@media(max-width: 700px){
    .navigation {
        position: absolute;
        background: darkgray;
        height: 50vh;
        width: 150px;
        left: -200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .fa-times {
        text-align: right;
    }

    .navgiation ul li {
        display: block;
    }
    div.name-nav {
        display: none;
    }

    header {
        background: transparent;
        position: fixed;
        margin: 0px;
        padding: 0px;
    }

    nav .fa-bars,
    nav .fa-times {
        display: block;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    nav ul {
        padding: 20px
    }

    /*viewport width*/

    #banner .content h1 {
        color: white;
        position: relative;
        width: 20px;
        top: 200px;
        bottom: 50%;
        width: 100%;
        margin: 0 auto;
        font-size: 10vw;
        text-align: center;
      }

      #banner .content p {
        position: relative;
        top: 200px;
        width: 50vw;
        height: 3vw;
        margin: 0 auto; 
        font-size: 2.7vw;
        margin: 10px 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        text-align: center;
    }

    #banner {
        position: relative;
        background-size: cover;
        height: 100vw;
        width: 100%;
        margin: 0;
        bottom: 20px;
        background-image: url(/assets/img/IMG_0041.JPG);
      }

/* HORIZONTAL PIC /assets/img/IMG_0105.JPG 
VERTICAL PIC /assets/img/IMG_0041.JPG  */

    img.profile {
        height: 200px;
        width: 150px;
        border: 1px solid white;
    }

    div.about-col p {
        font-size: 11px;
        max-width: 160px;
        left: 15%;
    }

    div.about-col h1 {
        text-align: center;
        font-size: 25px;
    }

    a.linkedin-about {
        color: black;
        position: absolute;
        left: 230px;
        bottom: -10px;
        font-size: 36px;
        margin-left: auto;
        margin-right: auto;
    }

    a.github-about {
        color: black;
        position: absolute;
        left: 270px;
        bottom: -10px;
        font-size: 36px;
        margin-left: auto;
        margin-right: auto;
    }

    

}

/*education section*/

.education-section{
    background: rgba(112, 112, 112, 0.907);
}

div.edu-pos {
    position: relative;
    right: 75px;
    margin: 3%;
    margin-bottom: 0;
}

img.ucsc-pic {
    max-width: 20%;
    height: auto;
}

div.ucsc-pos {
    text-align: right;
    margin-bottom: 0px !important;
}

h1.education-title {
    font-size: 60px;
    text-align: center;
    margin: 0px auto;
}

.education-col {
    flex-basis: 50%;
    margin-bottom: 5%;
    padding: 20px 12px;
}

.school {
    align-items: flex-start;
    text-align: left;
    margin: 0px;
    flex-direction: column;    
}

div.course-work {
    display: table;
    margin: 0 auto;
    font-size: 18px;
    padding: 5px;
}


@media(max-width: 700px){
    h1.education-title {
        font-size: 5vw;
    }

    div.education-col h2 {
        font-size: 3vw;
    }

    div.education-col h3 {
        font-size: 3vw;
    }

    div.education-col p {
        font-size: 2vw;
    }

    img.ucsc-pic {
        max-width: 40%;
        height: auto;
    }

    div.course-work {
        font-size: 2.7vw;
    }

    div.school {
        padding: 0px;
        margin: 0px;
    }
}